:root {
  font-family: TT Firs Neue, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.t-records{
  width: 100%;
}
.t-width{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#allrecords a {
  color: #181818;
  text-decoration: none;
}
div, h1, h2, h3, p, a {
  text-decoration: none;
  color: #181818;
}
a:hover {
  color: #303030;
}
.SO_Landing{
  width: 100%;
  max-width: 1440px;
  position: relative;
}
.O_Header{
  display: flex;
  justify-content: space-between;
  width: 1440px;
  flex-direction: row;
  padding: 20px 40px;
  position: fixed;
  max-width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
}
.O_PageTitle{
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 500;
}
.O_Projects{
  margin: 40px 0 0;
}
.O_Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 460px;
  background-color: #181818;
}
.O_FirstScreen{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.W_Buttons{
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}
.W_FooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 40px;
  min-width: 1440px;
  max-width: 1440px;
}
.W_FirstScreen{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 40px 0;
  margin-top: 58px;
}
.W_HalfRow{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 184px;
  padding: 40px;
  border: 1px solid #DDDDDD;
  .A_Button{
    width: 456px;
    justify-content: center;
  }
}
.W_Row {
  display: flex;
  flex-direction: row;
  &:is(.U_NoGap) {
    width: fit-content;
    justify-content: flex-start;
    gap: 0px;
    width: 100%;
}
}
.W_ProjectRow{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.W_ProjectInfo{
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.W_ProjectInfoSection{
  display: flex;
  flex-direction: column;
  &:is(.U_LastItem){
    align-items: flex-end;
    text-align: right;
    flex-grow: 1;
    width: fit-content;
  }
}
.W_ProjectInfoSectionRow{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.W_ProjectTitleAndChars{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.M_Project{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  padding: 40px;
  border: 1px solid #DDDDDD;
}
.M_ProjectInfoItem{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.A_FullScreenImage{
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 336px;
  &:is(.U_Mobile){
    display: none;
  }
}
.A_SubTitle{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.A_SecondLevelTitle{
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 500;
}
.A_FooterItem {
  display: flex;
  flex-direction: column;
}

.A_Button{
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 100px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #181818;
  text-transform: uppercase;
  font-weight: 500;
  gap: 9px;
  height: 40px;
  align-items: center;
  &:is(.U_Primal){
    color: #ffffff !important;
    background-color: #181818;
  }
}
.A_Logo {
  width: 183px;
  height: 24px;
  filter: invert(1);
}
.A_OpenButton{
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #181818;
  cursor: pointer;
  img{
    width: 15px;
    height: 15px;
  }
}
.A_SmallTitle {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.A_FooterLogo {
  width: 183px;
  max-width: 183px;
  height: 24px;
  max-height: 24px;
  filter: invert(1);
}
.A_ProjectImage{
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 240px;
}
.A_ProjectTitle{
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -2%;
}
.U_Mobile{
  display: none;
}
.U_ProjectColor{
  color: #9CA8AE;
}
.U_KuvekinoColor{
  color: #BDB7AA;
}
.U_BalashihaColor{
  color: #949E8C;
}
.U_SenkinoColor{
  color: #768694;
}
.U_SokolovoColor{
  color: #A65B61;
}
.U_SecondaryGrey{
  color: #768694;
}
.U_LightGrayBackground{
  background-color: #F7F7F7;
}
.U_FirstFooterItem {
  gap: 7px;
  width: 320px;
}
.U_SecondFooterItem {
  gap: 40px;
  width: 360px;
}
.U_ThirdFooterItem {
  width: fit-content;
  gap: 7px;
}
.U_FooterText {
  color: #ffffff !important;
}
.U_AlignBottom {
  align-items: flex-end;
}
.U_MobileFooterOnlyShow {
  display: none;
}
.U_FooterButtons{
  align-items: flex-end;
  flex-grow: 1;
  gap: 12px;
  display: none;
}
.U_Invert{
  border: 1px solid #ffffff;
  color: white;
}
.Q_Image {
  width: 100%;
  height: 100%;
  filter: invert(1);
}
.Q_ButtonIcon {
  width: 29px;
  height: 29px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}
@media screen and (max-width: 1200px) {
  .O_Footer {
    max-width: 100vw;
    padding: 48px 24px;
    height: fit-content;
    align-items: flex-start;
}
.W_FooterContainer {
  display: flex
;
  flex-direction: column;
  gap: 60px;
  min-width: 0;
  min-width: auto;
  max-width: auto;
  padding: 0;
}
.U_MobileFooter {
  gap: 60px !important;
  height: fit-content;
  align-items: flex-start;
  flex-direction: column;
}
.A_FooterItem {
  gap: 12px;
}
  .W_ProjectRow{
    flex-direction: column;
  }
  .U_LightGrayBackground{
    padding: 24px;
    height: fit-content;
    gap: 24px;
  }
  .O_Projects{
    margin: 0;
  }
  .O_Header{
    padding: 24px 24px;
  }
  .W_FirstScreen{
    padding: 24px 24px 48px;
  }
  .A_SecondLevelTitle{
    font-size: 20px;
  }
  .A_FullScreenImage{
    height: 481px;
    display: none;
    object-position: center;
    &:is(.U_Mobile){
      display: block;
    }
  }
  .O_PageTitle{
    font-size: 32px;
  }
  .A_ProjectTitle{
    font-size: 20px
  }
  .A_ProjectImage{
    height: 0;
    transition: height 0.3s ease;
    margin-bottom: -24px; 
    &:is(.active){
      height: 171px;
      margin-bottom: 0; 
    }
  }
  .W_ProjectInfo{
    overflow: hidden;
    height: 51px;
    transition: height 0.3s ease;
    &:is(.active){
      height: 433px;
    }
  }
  .A_OpenButton{
    display: flex;
    align-items: center;
    justify-content: center;
    &:is(.active){
      img{
        transition: all 0.3s ease;
        transform: rotate(45deg);
      }
    }
  }  
  .U_MobileButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .W_HalfRow{
    padding: 0;
    border: 0;
    height: fit-content;
    .A_Button{
      width: 100%;
      height: 40px;
    }  
  }
  .A_PhoneNumber{
    display: none;
  }
  .A_Button{
    text-align: center;
  }  
  .W_ProjectInfoSectionRow{
    flex-direction: column;
    .U_LastItem{
      align-items: flex-start;
      text-align: start;
    }
  }
  .M_Project{
    padding: 48px 24px;
    border: 0;
    border-top: 1px solid #DDDDDD;
  }
  .U_LightGrayBackground{
    border-top: 1px solid #DDDDDD;
  }
  .W_Buttons{
    flex-direction: column;
    width: 100%;
    .A_Button{
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}
@media screen and (max-width: 900px) {
  .W_ProjectRow{
    flex-direction: column;
  }
}